.form{
	background: url('../img/bg.png')no-repeat;
	background-size: cover;
	padding: 100px 0 120px;

	&__header{
	text-align: center;
	margin-bottom:50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	}
	
	&__title{
	font-size: 90px;
	color:$black ;
	font-family: $main-font;
	font-weight: 700;
	text-transform:capitalize;
	margin-bottom:40px;
	}

	&__text{
	max-width: 350px;
	font-size: 17px;
	color: $black;
	font-family: $main-font;
	font-weight: 300;
	}
}
.box{
	display: flex;
	justify-content: space-between;
	height: 445px;
}

.cahee-form{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 100%;
	max-width: 500px;

	&__input{
     	background: $aqua;
     	height: 40px;
     	border: none;
     	opacity: .5;
     	color: $white;
     	padding: 0  20px;
	}
	&__input::placeholder{
		color: $white;
	}
	&__input:focus{
		border-left: 5px solid $blue;
	}
	&__input:last-child{
		height: 250px;
		padding: 15px 20px;
		font-family: $main-font;
	}
}
.contact{
	list-style:none;
	&__item{
		margin-bottom:10px;
	}
	&__item:last-child{
		margin: 0;
	}


	&__title{
		font-size: 17px;
		color: $black;
		font-family: $main-font;
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: 5px;

	}
	&__subtitle{
		display: block;
		font-family: $main-font;
		text-decoration: none;
		color: $black;
	}
}
