.gallery{
	background: #ffe92f;
	padding: 100px 0;
	text-align: center;

	&__head{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 50px;
	}
	&__title{
		font-size: 90px;
		color: #262626;
		font-family: "Raleway",sans-serif;
		font-weight: 700;
		text-transform: capitalize;	
		margin-bottom: 40px;
	}
	&__text{
		font-size: 17px;
		color: #262626;
		font-family: "Raleway";
		font-weight: 300;
		text-align: center;
		max-width: 630px;
		
	}
	&__list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	height: 1000px;
	align-content:space-between;
	margin-bottom: 50px;
	}
	&__item{
		height: fit-content;
	}
}
.main{
	flex-basis: 66%;
}

.side{
	display:flex;
	flex-direction:  column;
	justify-content: space-between;
	height:550px;
	flex-basis:32%;
}
.bottom{
	flex-basis: 49%;
}
.gallery__link > img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
 	object-fit: cover;
}
.first{
	position: relative;
	display: flex;
	width: 100%;
	max-width: 760px;
	padding-top: 550px;
	flex-basis: 66%;
}
.aside{
	position: relative;
	display: flex;
	width: 100%;
	padding-top: 260px;
}
.bottom-link{
	position: relative;
	display: flex;
	width: 100%;
	max-width: 570px;
	min-height: 400px;
	padding-top: 400px;
	flex-basis: 49%;
}
.gallery__btn{
    display: inline-flex;
    width: 100%;
    font-size: 20px;
    max-width: 200px;
    padding: 20px 0;
    justify-content: center;
    text-transform: uppercase;
    background-color: #5585a2;
    color: #fff;
}
@media screen and (max-width: 650px){
	.gallery{
		padding: 10px 0;
		&__head{
			margin-bottom:10px;
		}
		&__list{
		flex-direction: column;
		flex-wrap: nowrap;
		height: 1920px;
		}
		&__btn{
		width: 80%;
		}
		&__title{
			margin-bottom: 10px;
		}
		&__text{
		display: none;
		}
	}
	.main{
		flex-basis: inherit;
	}
	.side{
		flex-basis:inherit;
		height: 535px;
	}
	.bottom{
		flex-basis: inherit;
	}

}
