	<footer class="footer" id="contacts">
		<div class="container">
			<div class="row justify-content-center py-5">
				<div class="col-md-6 col-lg-6 text-center">
					<div class="footer__wrap">
						<h2 class="footer__title">Keep in touch with us</h2>
						<p class="footer__paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea ratione placeat eaque suscipit dicta dolor in ducimus consequuntur nisi porro.</p>
						<form class="footer__subscribe">
							<input class="footer__input" type="text" placeholder="Enter your email">
							<button type="submit" class="btn">submit</button>
						</form>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 py-2">
					<ul class="footer__list">
						<li>
							<a class="footer__link" href="#">HALOVIETNAM LTD</a>
						</li>
						<li>
							<a class="footer__link" href="#">66, Dang Van ngu, Dong Da</a>
						</li>
						<li>
							<a class="footer__link" href="#"> Hanoi, Vietnam</a>
						</li>
						<li>
							<a class="footer__link" href="#">+844 35149182</a>
						</li>
					</ul>
				</div>
				<div class="col-md-3 py-2">
					<ul class="footer__list">
						<li>
							<a class="footer__link" href="#">Examples</a></li>
						<li>
							<a class="footer__link" href="#">Shop</a></li>
						<li>
							<a class="footer__link" href="#">License</a></li>
					</ul>
				</div>
				<div class="col-md-3 py-2">
					<ul class="footer__list">
						<li>
							<a class="footer__link" href="#">Contact</a></li>
						<li>
							<a class="footer__link" href="#">About </a></li>
						<li>
							<a class="footer__link" href="#"> Privacy </a>
						</li>
						<li>
							<a class="footer__link" href="#">Terms</a>
						</li>
					</ul>
				</div>
				<div class="col-md-3 py-2">
					<ul class="footer__list">
						<li>
							<a class="footer__link" href="#">Download</a></li>
						<li>
							<a class="footer__link" href="#">Support</a></li>
						<li>
							<a class="footer__link" href="#"> Documents</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	<a id="button"></a>
