<% const product = [
{
	photo:"https://placeimg.com/200/200/any",
	cost:'2500 грн',
	price:'2500',
	rating:'2'
},
{
	photo:"https://placeimg.com/200/200/any",
	cost:'1100 грн',
	price:'1100',
	rating:'3'
},
{
	photo:"https://placeimg.com/200/200/any",
	cost:'1200 грн',
	price:'1200',
	rating:'2'
},
{
	photo:"https://placeimg.com/200/200/any",
	cost:'2100 грн',
	price:'2100',
	rating:'1'
},
{
	photo:"https://placeimg.com/200/200/any",
	cost:'2100 грн',
	price:'2100',
	rating:'1'
},
{
	photo:"https://placeimg.com/200/200/any",
	cost:'2100 грн',
	price:'2100',
	rating:'1'
},
{
	photo:"https://placeimg.com/200/200/any",
	cost:'2100 грн',
	price:'2100',
	rating:'1'
},
{
	photo:"https://placeimg.com/200/200/any",
	cost:'2100 грн',
	price:'2100',
	rating:'1'
}
] %>



<section id="product" class="product">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-8 d-flex justify-content-between align-items-center">
				<button class=" button button_product" id="sort-asc">Цена возрастание</button>
				<button  class="button button_product" id="sort-desc">Цена убывание</button>
				<button  class="button button_product" id="sort-rating">Sort rating</button>
			</div>
		</div>
		<div class="row product__wrap">
			<% product.forEach(item => { %>
			<div class="col py-2"  data-price="<%= item.price %>" data-rating="<%= item.rating%>">
				<div class="product-card" >
					<a href="# "><img src="<%= item.photo %>" alt="photo"></a>
					<p><%= item.cost %></p>
				</div>
			</div>
			<%})%>
		</div>
	</div>
</section>


