<label for="date" class="form__label">Введите дату:</label>
<input type="date" id="date" class="form__input" required>
<input type="button" value="Вывести следующую дату" class="form__button" id="date__button">
<p class="form__out" id="date__out">Результат</p>