// *{
// 	margin: 0;
// 	padding:0;
// 	box-sizing: border-box;
// 	text-decoration: none;
// 	font-family: 'HansKendrick-Bold';
// }
// html, body {
// 	height: 100%;
// 	background-color: #e2e7ec;
// }

// .container{
// 	width: 100%;
// 	max-width: 1120px;
//     margin: 0 auto;
//     padding: 90px 0;
// }
// .list{
// 	display: flex;
// 	flex-flow: row  wrap;
//     justify-content:space-between;
//     align-content: space-between;
//     height: 1110px;
//     list-style: none;
//     margin-bottom: 150px;
// }
// .list__item{
// 	width: 100%;
// 	max-width: 360px;
// 	min-width: 360px;
// 	height: 540px;
// 	background: #FFF;
// }

// .link_list{
// 	display: flex;
// 	flex-direction: column;
// 	height: 540px;
// }
.first__footer{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	background-image: url(../img/car.png);
	height: 540px;
	min-width: 740px;
	padding: 0 0 40px 40px;
}
.date1{
	font-size: 13px;
    letter-spacing: 0px;
    line-height: 30px;
	font-weight: 500;
	text-transform: uppercase;
	color:white;
}
.paragraph1{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	font-size: 22px;
	line-height: 30px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	color:white;
	max-width: 400px;
}
.link__footer{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 30px 0 0 30px;
	color: #000;
	height:285px;
}

.date{
	font-size: 13px;
    letter-spacing: 0px;
    line-height: 30px;
	color: grey;
	font-weight: 500;
	text-transform: uppercase;
}
.paragraph{
 	font-size: 20px;
	line-height: 30px;
	color: #1d1d1d;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
}

.text{
	display: flex;
	flex-direction: column;
	justify-content:flex-start;
}
.text_withoutdate{
  padding: 60px 0 0 20px;
}
.face{
	width: 55px;
}
.loading{
	   display: flex;
	   justify-content: center;
	}
