@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Pacifico|Raleway&display=swap");
$main-font:'Raleway', sans-serif;
$logo-font:'Pacifico',sans-serif;

// colors
$black:#262626;
$aqua:#00c4c4;
$grey:#b9b9b9;
$red:#ff2b58;
$white:#eef9f9;
$blue:#355b82;