<section class="menu" id="menu">
	<div class="container">
		<div class="row text-center text-white">
			<div class="col-12 col-md-4 mb-4" data-aos="fade-up">
				<div class="shop-info">
					<i class="far fa-clock mb-3"></i>
					<h1 class="mb-4">hours of operation</h1>
					<p>Mon to fri:8:00am - 6:00pm</p>
					<p>Sat to Sun:8:00am - 1:00pm</p>
				</div>
			</div>
			<div class="col-12 col-md-4 mb-4" data-aos="fade-down">
				<div class="shop-info">
					<i class="fas fa-map-marked-alt mb-3"></i>
					<h1 class="mb-4">our location</h1>
					<address>
						1234 First Avenue <br>
						New York City,NY 1231
					</address>
				</div>
			</div>
			<div class="col-12 col-md-4 mb-4" data-aos="fade-right">
				<div class="shop-info">
					<i class="fas fa-mobile-alt mb-3"></i>
					<h1 class="mb-4">get in touch</h1>
					<p>Phone #:(800)555-5555</p>
					<p>Email:contact@bakery.com</p>
				</div>
			</div>
		</div>
		<hr class="mt-5">
	</div>
	<div class="container-fluid p-0">
		<div class="section-heading py-5 text-center">
			<h4 class="text-white">our tasty food</h4>
			<h1 class="display-4">the menu</h1>
		</div>

	<!-- 	row-1 -->
		<div class="row no-gutters">
			<div class="col-12 col-sm-6 col-xl-2 order-sm-1 order-xl-1">
				<img class="img-fluid" src="img/menu-item-1.jpg" alt="photo">
			</div>
			<div class="col-12 col-sm-6 col-xl-2 order-sm-2 order-xl-2 point-left">
				<div class="menu-item-desc">
					<h6>$10</h6>
					<h1>the cake</h1>
					<p>This cake is amazing!I recommend it to everyone.</p>
					<a href="#" class="btn mt-3 d-none d-xl-block">Learn more</a>
				</div>
			</div>

			<div class="col-12 col-sm-6 col-xl-2 order-sm-4 order-xl-3">
				<img class="img-fluid" src="img/menu-item-2.jpg" alt="photo">
			</div>
			<div class="col-12 col-sm-6 col-xl-2 order-sm-3 order-xl-4 point-left">
				<div class="menu-item-desc">
					<h6>$10</h6>
					<h1>the cake</h1>
					<p>This cake is amazing!I recommend it to everyone.</p>
					<a href="#" class="btn mt-3 d-none d-xl-block">Learn more</a>
				</div>
			</div>

			<div class="col-12 col-sm-6 col-xl-2
			order-sm-5 order-xl-5">
				<img class="img-fluid" src="img/menu-item-3.jpg" alt="photo">
			</div>
			<div class="col-12 col-sm-6 col-xl-2
			order-sm-6 order-xl-6 point-left">
				<div class="menu-item-desc">
					<h6>$10</h6>
					<h1>the cake</h1>
					<p>This cake is amazing!I recommend it to everyone.</p>
					<a href="#" class="btn mt-3 d-none d-xl-block">Learn more</a>
				</div>
			</div>
		</div>
<!-- row-2 -->
		<div class="row no-gutters">
			<div class="col-12 col-sm-6 col-xl-2 order-sm-2 order-xl-2">
				<img class="img-fluid" src="img/menu-item-4.jpg" alt="photo">
			</div>
			<div class="col-12 col-sm-6 col-xl-2 order-sm-1 order-xl-1 point-right">
				<div class="menu-item-desc">
					<h6>$10</h6>
					<h1>the cake</h1>
					<p>This cake is amazing!I recommend it to everyone.</p>
					<a href="#" class="btn mt-3 d-none d-xl-block">Learn more</a>
				</div>
			</div>
			<div class="col-12 col-sm-6 col-xl-2 order-sm-3 order-xl-4">
				<img class="img-fluid" src="img/menu-item-5.jpg" alt="photo">
			</div>
			<div class="col-12 col-sm-6 col-xl-2 order-sm-5 order-xl-3 point-right">
				<div class="menu-item-desc">
					<h6>$10</h6>
					<h1>the cake</h1>
					<p>This cake is amazing!I recommend it to everyone.</p>
					<a href="#" class="btn mt-3 d-none d-xl-block">Learn more</a>
				</div>
			</div>

			<div class="col-12 col-sm-6 col-xl-2
			order-sm-6 order-xl-6">
				<img class="img-fluid" src="img/menu-item-6.jpg" alt="photo">
			</div>
			<div class="col-12 col-sm-6 col-xl-2
			order-sm-5 order-xl-5 point-right">
				<div class="menu-item-desc">
					<h6>$10</h6>
					<h1>the cake</h1>
					<p>This cake is amazing!I recommend it to everyone.</p>
					<a href="#" class="btn mt-3 d-none d-xl-block">Learn more</a>
				</div>
			</div>
		</div>
	</div>
</section>