.navbar{
	text-transform: uppercase;
	font-weight: 700;
	font-size: .9rem;
	letter-spacing: .1rem;
	background: rgba(0,0,0,0.6)!important;
}
.navbar-brand img{
	height: 2rem;
}
.navbar li{
	padding-right: .7rem;
}
.navbar-dark .navbar .nav-link{
	color:#fff;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
	color: #1ebba3;
}

.home-inner{
	background-image: url(/img/computers.png);
}
.caption{
	width: 100%;
	max-width: 100%;
	position: absolute;
	top:38%;
	color: #fff;
	text-transform: uppercase;
}
.caption h1{
	font-size: 3.8rem;
	font-weight: 700;
	letter-spacing: .3rem;
	text-shadow:.2rem .2rem black;
	padding-bottom:1rem;
}
.caption h3 {
	font-style:2 rem;
	text-shadow: .1rem .1rem .5rem black;
	padding-bottom: 1.6rem;
}
.btn-lg{
	border-radius: 0;
	padding: .6rem .1.3rem;
	font-size: 1.1rem;
}

