 <% const menu = [
{
    image:'https://placeimg.com/200/200/people',
    name:'Lorem ipsum',
    text:'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, ea!'
},
{
    image:'https://placeimg.com/200/200/people',
    name:'Lorem ipsum',
    text:'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, ea!'
},
{
    image:'https://placeimg.com/200/200/people',
    name:'Lorem ipsum',
    text:'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, ea!'
},
{
   image:'https://placeimg.com/200/200/people',
  name:'Lorem ipsum',
  text:'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, ea!'
},
{
    image:'https://placeimg.com/200/200/people',
    name:'Lorem ipsum',
    text:'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, ea!'
},
{
   image:'https://placeimg.com/200/200/people',
  name:'Lorem ipsum',
  text:'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, ea!'
}
 ]%>

 <section class="team">
  <div class="container">
    <div class="team__wrap">
      <h1 class="team__title">our team</h1>
      <ul class="owl-carousel">
        <% menu.forEach(item => { %>
        <li class="team__list">
          <img class="owl-lazy" data-src="<%= item.image %>" alt="">
          <h2 class="team__name"><%= item.name %></h2>
          <p class="team__describe"><%= item.text %></p>
        </li>
        <%})%>
      </ul>
    </div>
  </div>
</section>
