.footer{
	padding: 5rem 0;
	background-color: var(--purple-solid);
	color:#fff;
}

.footer-content-brand{
	margin-bottom: 5rem;
}
.footer .paragraph{
	color: inherit;
}
.footer-heading{
	text-transform: uppercase;
	margin-bottom: 2.5rem;
}
.social-media{
	display: flex;
}
.sm-link{
	width: 4rem;
	height: 4rem;
	border: 2px solid var(--yellow-solid);
	border-radius: 50%;
	display: flex;
	margin-right: 1rem;
	transition: background-color .5s;
}
.sm-link:hover{
	background-color: var(--yellow-solid);
	color:var(--dark-color);
}
.sm-link i {
	margin:auto;
}
@media screen and (min-width: 768px){
		.footer-content{
			display: flex;
			justify-content: space-between;
		}
		.footer-content-brand{
			margin-bottom: 0;
			flex: 0 0 49%;
		}
		.paragraph{
			margin-top: 2rem;
		}
}