<% const link = [
{    title:'mobile app design',
    text:'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
},
{   title:'web design',
    text:'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
},
{	title:'web developer',
    text:'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
},
{   title:'product design',
    text:'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
},
{	title:'ui & ux',
    text:'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
},
{	title:'animations',
    text:'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.'
}
]%>

<section id="services" class="expert">
	<div class="container">
		<div class="content">
			<h2 class="title">expert in</h2>
			<ul class="expert__list">
			    <% link.forEach(list => {%>
			    	<li class="expert__info">
			    		<img src="http://placeimg.com/150/150/any">
			    		<h2 class="info-title"><%= list.title %></h2>
			    		<p class="info-text"><%= list.text %></p>
			    	</li>
			    <%})%>
			</ul>
		</div>
	</div>
</section>