<footer class="footer">
	<div class="container">
		<div class="footer-wrap">
       	 <p class="footer-text">Need a graphic designer? Ready to work!</p>
       	<a class="btn btn_footer" href="#">hire me</a>
       </div>
	</div>
</footer>
