.expert{
	background: #f1f8ff;
	padding: 100px 0 ;

	&__list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    min-height: 800px;
	}
	&__info{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}
}
.info-title{
	font-size: 24px;
	color: $gradientblue;
	font-family: $main-font;
	font-weight: 700;
	text-transform: uppercase;

}
.info-text{
	width: 100%;
	max-width: 330px;
	font-size: 16px;
	line-height: 30px;
	color: #5a5a5a;
	font-family: $main-font;
	font-weight: 400;
	text-align: center;
}
@media  screen and (min-width: 320px) and (max-width: 675px) {
	.expert{
		padding: 20px 0;
	}
	.expert__list{
		justify-content: center;
		line-height: 3;
	}
	.expert__info{
		padding: 10px 0;
	}
}
@media  screen and (min-width: 676px) and (max-width: 767px){
	.expert__info{
		padding: 10px 0;
		max-width: 315px;
	}
	.expert__list{
		line-height:3;
	}
	.info-text{
		line-height: 2;
	}
}