.welcome{
	background: linear-gradient(45deg, #469dff 20%,#469dff 20%,#63aeff 20%,#63aeff 20%,#44a1ff 59%,#268fff 59%,#268fff 59%);
	display: flex;
	align-items: center;

	&-wrap{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		height: 750px;

	}
	&-scroll{
		fill: #8cc1ff;
	}

	&__title{
		font-size: 50px;
		letter-spacing: 1px;
		color: $white;
		font-family:$main-font ;
		font-weight: 900;
		text-transform: uppercase;
		text-align: center;
		width: 100%;
		max-width: 815px;
		flex-grow: 0;
	}
	&__subtitle{
		font-size: 16px;
		letter-spacing: 0px;
		color: $white;
		font-family: $main-font;
		font-weight: 300;
		text-align: center;
		width: 100%;
		max-width: 750px;
	}
}
.burger{
	align-self: flex-end;
	width: 25px;
	height: 3px;
	background: $white;
	margin-bottom: 5px;
	cursor: pointer;
}

.circle{
	height: 150px;
	width: 150px;
	background: $white;
	border-radius: 50%;
	box-shadow:0 0 0 9px rgba(255, 255, 255, .2), 0 0 0 18px rgba(255, 255, 255, .1);
}
.btnbig{
	text-transform: uppercase;
	color: $blue;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  padding: 100px 0;
  display: flex;
  justify-content: center;
  text-align: center;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  background: $white;
  border-radius: 10px;
  width: 70%;
  position: relative;
  transition: all 5s ease-in-out;
  display: flex;
  justify-content: center;
  align-items:center;

  &__content{
  	display:flex;
  	flex-direction: column;
  	justify-content: space-between;
  	width: 100%;
  	max-width: 290px;
  	min-height: 500px;
  }

  &__list{
  	display: flex;
  	flex-direction: column;
  	justify-content: space-between;
  	position: relative;
  	min-height: 340px;
  }

  &__link{
  	text-decoration: none;
  	font-size: 50px;
		color: #d2d2d2;
		font-family: $main-font;
		font-weight: 300;
		text-transform: capitalize;
		}

	&__link:hover{
		color:$blue;
	}

	&__list:after{
		position: absolute;
		content: '';
		display: block;
		height: 1px;
		width: 400px;
		background: $grey;
		bottom: -75px;
		transform: translateX(-15%);
	}
	&__social{
		display: flex;
		justify-content: space-between;
	}
}
.close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.close:hover {
  color: #06D85F;
}

.social-link{
	display: block;
}
.scroll{
	display: block;
}

@media  screen and (min-width: 320px) and (max-width: 575px) {
		.welcome__title{
			font-size: 30px;
		}
		.welcome-wrap{
			height: 560px;
		}
		.close{
			top:0;
		}
		.popup__content{
			min-height: 325px;
		}
		.popup__list{
			min-height: 250px;
		}
		.popup__link{
			font-size: 45px;
		}
		.popup__list:after{
			display: none;
		}
}