<section id="clients" class="clients">
	<div class="container">
		<div class="content">
			<h2 class="title">clients</h2>
			<ul class="clients__list">
				<li>
					<a class="clients__link" href="">
						<img src="/img/logo1.png" alt=""></a>
				</li>
				<li>
					<a class="clients__link" href="">
						<img src="/img/clients2.png" alt="">
					</a>
				</li>
				<li>
				<a class="clients__link" href="">
					<img src="/img/clients3.png" alt="">
				</a>
			</li>
				<li>
					<a class="clients__link" href="">
						<img src="/img/clients4.png" alt="">
					</a>
				</li>
			</ul>
		</div>
	</div>
</section>