<section id="works" class="works">
	<div class="container">
		<div class="content">
			<h2 class="title">latest works</h2>
			<ul class="works__list">
				<li class="works__item">
					<a class="works__link" href="">
						<img src="img/works1.png" alt="">
					</a>
				</li>
				<li class="works__item">
					<a class="works__link" href="">
						<img src="img/works2.png" alt="">
					</a>
				</li>
				<li class="works__item">
					<a class="works__link" href="">
						<img src="img/works3.png" alt="">
					</a>
				</li>
				<li class="works__item">
					<a class="works__link" href="">
						<img src="img/works4.png" alt="">
					</a>
				</li>
				<li class="works__item">
					<a class="works__link" href="">
						<img src="img/works5.png" alt="">
					</a>
				</li>
				<li class="works__item">
					<a class="works__link" href="">
						<img src="img/works6.png" alt="">
					</a>
				</li>
			</ul>
		</div>
	</div>
</section>