*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
    font-family:“Lucida Sans Unicode”, “Lucida Grande”, sans-serif;
    color:white;
}
body{
	background-color:#2694ab;
}

.conteiner{
	width: 100%;
	max-width: 700px;
	margin: 0 auto;
}
.box_cities{
	font-size: 0;
	border: 2px solid green;
}
.box_cities_li{
    display: inline-block;
	font-size: 15px;
}
.cities_link{
	text-decoration: none;
	display:block;
    padding: 20px;
    text-decoration: none;
    border: 1px solid #fff;
    text-align: center;
}
.medium_size{
	width: 50%;
}
.small_size{
	width: 25%;
}
.big_size{
	width: 100%;
}
.turquoise{
	background-color: #30D5C8;
}
.purple{
	background-color: rgba(169,76,175,1);
}
.black{
	background-color: rgba(169,76,175,1);
}
