<div class="portfolio">
	<div class="container">
		<div class="row_justify-content-center">
			<div class="co6">
				<div class="portfolio__title">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, libero officiis? Praesentium explicabo alias suscipit dolore, inventore! Quae vitae minima, ducimus perferendis alias nulla ipsa, repellendus quo magni sed error.</p>
				</div>
			</div>
		</div>
	</div>
</div>