*{
	padding:0;
	margin: 0;
	box-sizing: border-box;
}
html,body{
	min-height: 100vh;
}
body{
	font-size: $base-size;
	font-family: $main-font;
	color: $text-color;
}

.al-dark-bg{
	background-color: $dark-bg;

   & + .al-section{
	background-color: $white-bg; 
		& + .al-section{
			background-color: $grey-bg;
		}
	}
}
ul{
	li{
		a{
			display: flex;
			text-decoration: none;
		}
	}
}
a{
   display: flex;
   list-style: none;
}
.container{
	width: 100%;
	max-width: 1170px;
	margin:0 auto;
	padding: 0 15px;
}
.al-logo{
	font-family: $sign-font;
	font-size: 30px;
	text-decoration: none;
}


