.about{
	padding: 160px 0;
}

.content{
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
	border: 2px solid $black;
	border-top:  transparent;
	position: relative;
	padding: 60px 0 40px;
	text-align: center;
}

.content:before{
	content: '';
	display: block;
	width: 25%;
	height: 2px;
	background-color:$black;
	left:0;
	top:0;
	position: absolute;
}
.content:after{
	content: '';
	display: block;
	width: 25%;
	height: 2px;
	background-color:$black;
	right: 0;
	top:0;
	position: absolute;
}
.title{
	font-size: 34px;
	letter-spacing: 5px;
	color: $black;
	font-family: $main-font;
	font-weight: 700;
	position: absolute;
	top:-20px;
	text-transform: uppercase;
}
.text{
	max-width:560px;
	display: flex;
	font-size: 16px;
	line-height: 24px;
	color:$black;
	font-family: $main-font;
	font-weight: 300;
	margin-bottom: 30px;

}
.text:last-child{
	margin-bottom: 0;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
	.about{
	padding: 20px 0;
	}
	.content{
	padding: 20px 0 20px;
	}

	.title{
	font-size: 22px;
	top:-15px;
	}
	.content:before{
		width: 15%;
	}

	.content:after{
		width: 15%;
	}
	.text{
		max-width: 270px;
	}
}
@media only screen and (min-width: 481px) and (max-width: 767px){
	.text{
		max-width: 420px;
	}
	.content:before{
		width:15%;
	}

	.content:after{
		width: 15%;
	}
}
@media only screen and (min-width: 1024px) and (max-width: 1224px){
		.title{
	font-size: 29px;
	top:-15px;
}
	.content:before{
		width:15%;
	}

	.content:after{
		width: 15%;
	}
	.text{
		max-width: 450px;
	}
}

@media only screen and (min-width: 1225px){
	.title{
		font-size: 30px;
}
	
	.text{
		max-width: 500px;
	}
}