.about{
	padding: 160px 0;
}

.content{
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
	border: 2px solid $black;
	border-top:  transparent;
	position: relative;
	padding: 60px 0 40px;
	text-align: center;
}

.content:before{
	content: '';
	display: block;
	width: 25%;
	height: 2px;
	background-color:$black;
	left:0;
	top:0;
	position: absolute;
}
.content:after{
	content: '';
	display: block;
	width: 25%;
	height: 2px;
	background-color:$black;
	right: 0;
	top:0;
	position: absolute;
}
.title{
	font-size: 34px;
	letter-spacing: 5px;
	color: $black;
	font-family: $main-font;
	font-weight: 700;
	position: absolute;
	top:-20px;
	text-transform: uppercase;
}
.text{
	max-width:560px;
	display: flex;
	font-size: 16px;
	line-height: 24px;
	color:$black;
	font-family: $main-font;
	font-weight: 300;
	margin-bottom: 30px;

}
.text:last-child{
	margin-bottom: 0;
}
