.contact{
	padding: 160px 0 60px;
	
}
.btn{
   	cursor: pointer;
   	padding: 20px 140px;
   	border: none;
   	text-transform: uppercase;
   	font-family: $main-font;
   	font-size: 16px;
	letter-spacing: 3px;
	color: #ffffff;
	font-family: "Lato";
	font-weight: 400;
	text-align:center;
	background: $black;
	color: $white;
}
@media only screen and(min-width: 319px) and (max-width: 480px){
	.contact{
	padding: 20px 0;
	}
	.btn{
		padding: 20px 70px;
	}
}