.what-we{
	padding: 120px  0;
}

.subtitle{
	font-size: 20px;
	letter-spacing: 3px;
	color: #3c3c3c;
	font-family: "Lato";
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 40px;
}

.svg {
	fill: black;
    height: 80px;
    width: 80px;
    margin-bottom: 40px;
}
