.what-we{
	padding: 120px  0;
}

.subtitle{
	font-size: 20px;
	letter-spacing: 3px;
	color: #3c3c3c;
	font-family: "Lato";
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 40px;
}

.svg {
	fill: black;
    height: 80px;
    width: 80px;
    margin-bottom: 20px;
}
.what-we__list{
	margin-bottom: 100px;
}
.what-we__list:last-child{
	margin:0;
}
@media only screen and (min-width: 320px) and (max-width: 480px) {
	.what-we{
	padding: 20px  0;
	}
	.what-we__list{
	margin-bottom: 20px;
}
}