@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet');

@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto&display=swap" rel="stylesheet');

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Roboto&display=swap');

$main-font:'Raleway',sans-serif;
$title-font: 'Roboto', sans-serif;
$profile-font: 'Open Sans', sans-serif;

//colors
$yellow:#ffcc00;
$grey:#666666;
