*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	transition: all .1s ease-in;
}
body{
	font-family: \'Trebuchet MS\', Trebuchet, Arial, sans-serif ;
	background-color:rgba(49,49,49,1);
}
.header{
	background-color: #464F50;
	text-align: center;
	color:#EC8882;
	padding: 20px;
	margin-bottom: 40px;
}
.title{
	margin-bottom: 10px;
}
.form{
	margin: 0 auto;
	min-width: 320px;
	max-width: 400px;
	color:white;

}
.form_list{
	list-style: none;
	margin-bottom: 20px;
}
.form_label{
	display:block;
    padding: 10px;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
}
.form_li:nth-child(2n+1) .form_label{
	background-color: rgba(107,119,141,1);
}
.form_li:nth-child(2n) .form_label{
	background-color: rgba(163,158,158,1);
}
.form_label:hover{
	background-color: rgba(49,49,49,1);
	border-top: 2px solid white;
	border-bottom: 2px solid white; 
}
.form_li .form_label:active{
	background-color:rgba(234,112,112,1);

}
.form_li_input:checked ~ span{
	text-decoration: line-through;
}
[type="checkbox"]{
	margin-right: 10px;
}

.list_food{
	margin-right: 10px;
}
.label_comment{
	font-size: 10px;
}
.label_comment:before{
	content: "{"
}
.label_comment:after{
	content: "}";

}
.button{
	display: block;
	width: 100%;
	padding: 20px;
	background-color: #464F50;
	border: none;
	color:#EC8882;
	font-size: 18px;
}
.button:hover{
    background-color: rgba(242,244,246,1);
}
