<section class="booking">
	<div class="container">
		<form action="" class="form">
			<div class="input-group">
				<label for="destination" class="input-label">destination</label>
				<input type="text" class="input" id="destination">
			</div>
			<div class="input-group">
				<label for="check-in" class="input-label">check in</label>
				<input type="date" class="input" id="check-in">
			</div>
			<div class="input-group">
				<label for="check-out" class="input-label">check out</label>
				<input type="date" class="input" id="check-out">
			</div>
			<div class="input-group">
				<label for="adults" class="input-label">adults</label>
				<select class="options" id="adults">
					<option value="0">0</option>
					<option value="0">1</option>
					<option value="0">2</option>
					<option value="0">3</option>
					<option value="0">4</option>
				</select>
			</div>
			<div class="input-group">
				<label for="children" class="input-label">children</label>
				<select class="options" id="children">
					<option value="0">0</option>
					<option value="0">1</option>
					<option value="0">2</option>
					<option value="0">3</option>
					<option value="0">4</option>
				</select>
			</div>
			<button type="submit" class="btn form-btn btn-purple">search
				<span class="dots"><i class="fas fa-ellipsis-h"></i></span>
			</button>
		</form>
	</div>
</section>