<section class="contact">
	<div class="container">
			<h5 class="section-head">
			<span class="heading">contact</span>
			<span class="sub-heading">get in touch with us</span>
		</h5>
		<div class="contact-content">
			<div class="traveler-wrap">
				<img src="./img/traveler.png" alt="">
			</div>
			<form action="" class="form contact-form">
				<div class="input-group-wrap">
					<div class="input-group">
						<input type="text" class="input" placeholder="Name">
						<span class="bar"></span>
					</div>

					<div class="input-group">
						<input type="email" class="input" placeholder="E-mail">
						<span class="bar"></span>
					</div>
				</div>

					<div class="input-group">
						<input type="email" class="input" placeholder="Subject">
						<span class="bar"></span>
					</div>

					<div class="input-group">
						<textarea class="input" cols="30" rows="8" placeholder="E-mail" required=""></textarea>
						<span class="bar"></span>
					</div>

				<button type="submit" class="btn form-btn btn-purple">send message</button>
			</form>
		</div>
	</div>
</section>