<div class="hero">
	<div class="container">
		<div class="main-heading">
			<h1 class="title">discover</h1>
			<h2 class="subtitle">luxury hotels</h2>
		</div>
		<a href="#" class="btn btn-grad">explore
			<span class="dots"><i class="fas fa-ellipsis-h"></i></span>
		</a>
	</div>
</div>