<section class="hotels">
	<div class="container">
		<h5 class="section-head">
			<span class="heading">explore</span>
			<span class="sub-heading">Our beautiful hotels<span>
		</h5>
		<div class="grid">
			<div class="grid-item featured-hotels">
				<img class="hotel-image" src="./img/hotel_astro_resort.jpg" alt="photo">
				<h5 class="hotel-name">Astro Hotel</h5>
				<span class="hotel-price">From $200/Night</span>
				<div class="hotel-rating">
					<i class="fas fa-star rating"></i>
					<i class="fas fa-star rating"></i>
					<i class="fas fa-star rating"></i>
					<i class="fas fa-star rating"></i>
					<i class="fas fa-star-half rating"></i>
				</div>
				<a href="#" class="btn btn-grad">book now
					<span class="dots">
						<i class="fas fa-ellipsis-h"></i>
					</span>
				</a>
			</div>

			<div class="grid-item featured-hotels">
				<img class="hotel-image" src="./img/hotel_the_enchanted_garden.jpg" alt="photo">
				<h5 class="hotel-name">Enchanted Garden</h5>
				<span class="hotel-price">From $300/Night</span>
				<div class="hotel-rating">
					<i class="fas fa-star rating"></i>
					<i class="fas fa-star rating"></i>
					<i class="fas fa-star rating"></i>
					<i class="fas fa-star rating"></i>
					<i class="fas fa-star rating"></i>
				</div>
				<a href="#" class="btn btn-grad">book now
					<span class="dots">
						<i class="fas fa-ellipsis-h"></i>
					</span>
				</a>
			</div>

			<div class="grid-item featured-hotels">
				<img class="hotel-image" src="./img/hotel_the_paradise.jpg" alt="photo">
				<h5 class="hotel-name">The Paradise</h5>
				<span class="hotel-price">From $350/Night</span>
				<div class="hotel-rating">
					<i class="fas fa-star rating"></i>
					<i class="fas fa-star rating"></i>
					<i class="fas fa-star rating"></i>
					<i class="fas fa-star rating"></i>
					<i class="fas fa-star-half rating"></i>
				</div>
				<a href="#" class="btn btn-grad">book now
					<span class="dots">
						<i class="fas fa-ellipsis-h"></i>
					</span>
				</a>
			</div>
		</div>
	</div>
</section>