<section class="offer">
	<div class="container">
		<div class="offer-content">
			<div class="discount">
				40% off
			</div>

			<h5 class="hotel-name">The Paradise</h5>
				<div class="hotel-rating">
					<i class="fas fa-star rating"></i>
					<i class="fas fa-star rating"></i>
					<i class="fas fa-star rating"></i>
					<i class="fas fa-star rating"></i>
					<i class="fas fa-star-half rating"></i>
				</div>
				<p class="paragraph">
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam totam debitis blanditiis nam rem sed ipsam maxime dignissimos laboriosam at.
				</p>
				<a href="#" class="btn btn-grad">Redeem offer
					<span class="dots">
						<i class="fas fa-ellipsis-h"></i>
					</span>
				</a>
		</div>
	</div>
</section>