<section class="rooms">
	<div class="container">
		<h5 class="section-head">
			<span class="heading">luxurious</span>
			<span class="sub-heading">affordable rooms</span>
		</h5>

		<div class="grid rooms-grid">
			<div class="grid-item featured-rooms">
				<div class="image-wrap">
					<img class="room-image" src="./img/room_1.jpg" alt="">
					<h5 class="room-name">Astro Hotel</h5>
				</div>
				<div class="room-info-wrap">
					<span class="room-price">$200 <span class="per-night">Per night</span></span>
					<p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, doloremque!</p>
					<a href="#" class="btn rooms-btn">book now &rarr;</a>
				</div>
			</div>
			<div class="grid-item featured-rooms">
				<div class="image-wrap">
					<img class="room-image" src="./img/room_2.jpg" alt="">
					<h5 class="room-name">Astro Hotel</h5>
				</div>
				<div class="room-info-wrap">
					<span class="room-price">$200 <span class="per-night">Per night</span></span>
					<p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, doloremque!</p>
					<a href="#" class="btn rooms-btn">book now &rarr;</a>
				</div>
			</div>

			<div class="grid-item featured-rooms">
				<div class="image-wrap">
					<img class="room-image" src="./img/room_3.jpg" alt="">
					<h5 class="room-name">Astro Hotel</h5>
				</div>
				<div class="room-info-wrap">
					<span class="room-price">$200 <span class="per-night">Per night</span></span>
					<p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, doloremque!</p>
					<a href="#" class="btn rooms-btn">book now &rarr;</a>
				</div>
			</div>

			<div class="grid-item featured-rooms">
				<div class="image-wrap">
					<img class="room-image" src="./img/room_4.jpg" alt="">
					<h5 class="room-name">Astro Hotel</h5>
				</div>
				<div class="room-info-wrap">
					<span class="room-price">$200 <span class="per-night">Per night</span></span>
					<p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, doloremque!</p>
					<a href="#" class="btn rooms-btn">book now &rarr;</a>
				</div>
			</div>

			<div class="grid-item featured-rooms">
				<div class="image-wrap">
					<img class="room-image" src="./img/room_5.jpg" alt="">
					<h5 class="room-name">Astro Hotel</h5>
				</div>
				<div class="room-info-wrap">
					<span class="room-price">$200 <span class="per-night">Per night</span></span>
					<p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, doloremque!</p>
					<a href="#" class="btn rooms-btn">book now &rarr;</a>
				</div>
			</div>

			<div class="grid-item featured-rooms">
				<div class="image-wrap">
					<img class="room-image" src="./img/room_6.jpg" alt="">
					<h5 class="room-name">Astro Hotel</h5>
				</div>
				<div class="room-info-wrap">
					<span class="room-price">$200 <span class="per-night">Per night</span></span>
					<p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, doloremque!</p>
					<a href="#" class="btn rooms-btn">book now &rarr;</a>
				</div>
			</div>

				<div class="grid-item featured-rooms">
				<div class="image-wrap">
					<img class="room-image" src="./img/room_7.jpg" alt="">
					<h5 class="room-name">Astro Hotel</h5>
				</div>
				<div class="room-info-wrap">
					<span class="room-price">$200 <span class="per-night">Per night</span></span>
					<p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, doloremque!</p>
					<a href="#" class="btn rooms-btn">book now &rarr;</a>
				</div>
			</div>

			<div class="grid-item featured-rooms">
				<div class="image-wrap">
					<img class="room-image" src="./img/room_8.jpg" alt="">
					<h5 class="room-name">Astro Hotel</h5>
				</div>
				<div class="room-info-wrap">
					<span class="room-price">$200 <span class="per-night">Per night</span></span>
					<p class="paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis, doloremque!</p>
					<a href="#" class="btn rooms-btn">book now &rarr;</a>
				</div>
			</div>
		</div>
	</div>
</section>