*{
	padding: 0;
	margin:0;
	box-sizing: border-box;
}
ul{
	list-style: none;
}

a{
	text-decoration: none;
}

html{
	scroll-behavior: smooth;
}


.vegas-overlay {
    background: rgba(34,40,49,1);
    opacity: .8;
}

button{
	margin: 0;
}
