.footer{
  padding: 100px 0;
	display: flex;
	align-items: center;

	&__wrap{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: center;
		min-height:250px;
	}
	&__title{
		text-align: center;
		font-size: 40px;
		font-family: $main-font;

	}
	&__input{
		width: 360px;
		background: #fff;
		color: green;
		font: inherit;
		box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);
		border: 0;
		outline: 0;
		padding: 10px 5px;
	}

  &__list{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height:150px;
    background: rgba(250,227,217,.2);
    border-radius: 5px;
    padding: 0  0 0 15px
  }

  &__link{
    color:$white;
  }

  &__subscribe{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

}

#button {
  display: inline-block;
  background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}

