.footer__content{
	width: 100%;
	max-width: 860px;
	margin:0 auto;
	padding: 95px 0 200px 0; 
}
.footer__text{
	margin-bottom: 40px;
}
.footer__title{
	font-size: 32px;
	color: white;
	font-family: $main-font;
	font-weight: 700;
	text-align: center;
	margin-bottom: 20px;
}
.footer__paragraph{
	width: 100%;
	max-width: 760px;
	font-size: 20px;
	color: #898989;
	font-family: $main-font;
	font-weight: 400;
	text-align: center;
	margin: 0 auto;
}
.subscribe{
	width: 100%;
	max-width: 730px;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 115px; 
}
.footer__input{
	width:100%;
	max-width:580px;
	border: 2px solid #010101; 
	border-radius: 5px;
	padding: 14px 20px;
}

.btn{
	width:100%;
	max-width:130px;
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 16px;
	border: 1px solid #fcdb00;
	background-color: white;
	font-family: $main-font;
	font-weight: 700;
	text-transform: uppercase;
}

.columns{
	display: block;
	list-style: none;
	float: left;
	overflow: hidden;
}
.columns:not(:last-child){
	margin-right:100px;
}
.columns__link{
	width: 100%;
	max-width:200px;
	font-size: 16px;
	color: #ffffff;
	font-family: $main-font;
	font-weight: 400;
	text-decoration: none;
}