.header__text{
	font-size: 80px;
	color: rgba(242,244,246,1);
	font-family: $main-font;
	text-transform: uppercase;
	    font-weight: 400;
    letter-spacing: 0.15em;
    line-height: 1.2;
	text-align: center;
	margin-bottom: 10px;
}
.header{
	display: flex;
	align-items:center;
	height: 100vh;

	&__list{
		width: 100%;
		max-width: 280px;
		display: flex;
		justify-content: space-around;
	}

	&__item{
		font-size: 30px;
		font-family: $main-font;
		color: white;

	}
}

.header__link{
	border-right: 1px solid white; 
	padding-right: 10px;
}
.header__link:last-child{
	border-right: none; 
	padding-right: 0;
}

.modal{
	position: fixed;
	top:50%;
	left: 50%;
	transform: translate(-50%,-50%) scale(0) ;
	transition: 200ms ease-in-out;
	border: 1px solid black;
	z-index:10;
	width: 100%;
	max-width: 500px;
	background-color: #fff;
}
.modal.active{
	transform: translate(-50%,-50%) scale(1);
}
.close-button{
	cursor: pointer;
	border: none;
	outline:none;
	background: none;
	font-size: 1.25rem;
	font-weight: bold;
}

#overlayModal{
	  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}
#overlayModal.active{
	opacity: 1;
	pointer-events: all;
}

