.goods-wrap{
	display: flex;
	justify-content: space-between;
}
.goods-card{
	transition: 1s;
}

.product{
	padding: 90px 0 0;
	display: flex;
	flex-direction: column;
	align-items: center;

	&-card{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background: rgba(250,227,217,.2);
		width: 100%;
		height: 300px;
		border-radius: 5px;
	}

}
p{
	text-align: center; 
	color: rrgba(244,240,230,1);
	font-size: 20px;
	font-family: $main-font;
}



.shop-img{
	height: 200px;
	width: 200px;
}
.cart-names{
	display: flex;
	width: 100%;
	justify-content:space-around;
}
.names-item{
	font-size: 20px;
	text-transform: capitalize;
}
.cart-row{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
}
.cart-item-image{
	height: 80px;
	width:80px;
}
.cart-quantity-input{
	width: 30px;
}
.cart-price{
	font-size: 25px;
}
.wrap{
	width: 100%;
	max-width: 1900px;
	margin: 0 auto;
	padding: 0 15px;
}
.cart-total{
	display: flex;
	justify-content: flex-end;
}
.btn-danger{
	width: 30px;
}
.sort-product{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 200px;
}

