*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
	width: 100%;
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
    color: white;
}

.cahee__section{
	padding: 100px 0;
}
.cahee__title{
    font-size: 90px;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 40px;
}
.blog{
	background-color: #b07cf7;
}
.cahee__subtitle{
    font-size: 17px;
    font-weight: 300;
    width: 100%;
    max-width: 570px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.4;
    margin-bottom: 50p
}
.blog__list{
	list-style: none;
	display: flex;
	justify-content: space-between;
}
.blog__item{

}
.blog__link{
	display: block;
	width: 100%;
	min-width: 
	max-width: 320px;
	height: 310px;
	padding: 30px;
	text-decoration: none;
	color: #fff;
	background: url("../img/1.png");
}
.blog__date{
	display: block;
	width: 60px;
	height: 32px;
	font-weight: left;
	padding: 10px;
	line-height: 1.4;
	text-transform:uppercase;
	border-radius: 5px;
	background-color: rgb(0,0,0,.4);
	text-align: center;
}
.blog__month{
	display: block;
	font-size:17px;
	font-weight: 600;
	line-height: 1;
	transform: translateY()


}


/*#b07cf7 - violet
#f72b3b - pink
#fff
#000*/