.card-body h1 {
	font-size: 25px;
	letter-spacing: 1px;
	font-family: 'Teko';
	font-weight: 300;
	text-transform: uppercase;
}

.card-body h6{
	font-size: 16px;
	color:#c69963;
	text-transform: capitalize;
}

footer{
	background-color: #101D2C;
	color: rgba(255,255,255,.5);
}