ul{
	list-style: none;
	padding: 0;
	margin:0;
}
a {
    text-decoration: none;

    &:hover {
        text-decoration: none;
    }
}

.container{
	width: 100%;
	max-width: 940px;
	padding: 0 15px;
	margin:0 auto;
}
.content{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.button{
	display: flex;
	border: 1px solid  $cyan;
	border-radius: 2px;
	color: $cyan;
	text-align:center;
	padding: 15px 13px;
	font-size: 16px;
	font-family: $other-font;
	font-weight: 400;
	justify-content: center;
	text-transform: uppercase;
}
.button:hover{
	color: $cyan;
	text-decoration: none;
}
.title{
	font-size: 22px;
	letter-spacing: 1px;
	color: $other-text;
	font-family: $main-font;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 20px;
	text-align:center;
}
.title-white{
	color: $white;
}
.subtitle{
	font-size: 16px;
	letter-spacing: 1px;
	color:$grey;
	font-family: $second-font;
	font-weight: 900;
	text-align: center;
	text-transform:uppercase;
	position: relative;
}
.subtitle:before{
		content: '';
		display: block;
		height: 1px;
		width: 50px;
		background: #7a7a7a;
		position: absolute;
		right: 50%;
		bottom: -30px;
		transform: translateX(50%);
}

.subtitle-white{
	color: $white;
	font-size: 16px;
	letter-spacing: 1px;
	font-family: $second-font;
	font-weight: 900;
	text-align: center;
	text-transform:uppercase;
	position: relative;
}
