@import url("https://fonts.googleapis.com/css?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Hammersmith+One&display=swap");

$other-font: 'Hammersmith One', sans-serif;
$second-font: 'Roboto', sans-serif;
$main-font: 'Playfair Display', serif;

//colors
$overlay:#2b2549;
$main-text:#fff;
$other-text:#413d4b;
$grey:#7a7a7a;
$cyan:#00e0d0;
$white:#fff;
