<% const expertList = [{
	title:'web design &  development',
	subtitle: 'This is Photoshop version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenea.'
},
{
	title:'branding identity',
	subtitle: 'This is Photoshop version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenea.'
},
{
	title:'mobile app',
	subtitle: 'This is Photoshop version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenea.'
},
{
	title:'search engine optimization',
	subtitle: 'This is Photoshop version  of Lorem  Ipsum. Proin gravida nibh vel velit auctor aliquet Aenea.'
},
{
	title:'game development',
	subtitle: 'This is Photoshop version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenea.'
},
{
	title:'made with love',
	subtitle: 'This is Photoshop version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenea.'
},
]%>



<section class="expert">
	<div class="container">
			<div class="row justify-content-center ">
				<div class="col col-md-6 ">
					<div class="expert__head">
						<h2 class="title">expertise</h2>
						<h3 class="subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
					</div>
				</div>
			</div>
			<div class="row py-5 no-gutters">
				<% expertList.forEach(item => {%>
				<div class="col-6 col-sm-6 col-md-4 align-items-center cards">
					<div class="expert__card">
						<img src="http://placeimg.com/50/50/any">
						<h2 class="expert__title"><%= item.title %></h2>
						<h3 class="expert__text"><%= item.subtitle %></h3>
					</div>
				</div>
				<%})%>
			</div>
	</div>
</section>