<section class="test">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-10">
				<h3 class="test__subtitle">This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non  mauris vitae erat consequat auctor eu in elit</h3>
			</div>
		</div>
		<div class="row justify-content-center py-4">
			<div class="col-6 col-lg-2">
				<h3 class="test__name">jana galedriel</h3>
				<h4 class="test__job">ceo tengkurep</h4>
			</div>
		</div>
		<div class="row justify-content-center align-items-center">
			<a href="#" class="arrow-left"></a>
			<div class="col-10 col-md-6 col-lg-4">
				<div class="test__inner">
					<img src="./img/test1.png" alt="">
					<img src="./img/test2.png" alt="">
					<img src="./img/test3.png" alt="">
					<img src="./img/test4.png" alt="">
					<img src="./img/test5.png" alt="">
				</div>
			</div>
			<a href="#" class="arrow-right"></a>
		</div>

	</div>
</section>