<section class="video">
	<div class="container">
			<div class="row justify-content-center">
				<div class="col-6 col-lg-2">
					<div class="video__inner">
						<img src="img/video-img.png" alt="photo">
						<h3 class="subtitle-white">watch our story</h3>
					</div>
				</div>
			</div>
	</div>
</section>