*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}
body{
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
}

footer{
	background: #121116;

}
.container{
	width: 100%;
	max-width: 1200px;
	margin:0 auto;
}
.kasper{
	padding: 120px 0 40px;
}
.kasper_logo{
	text-align: center;
	margin-bottom: 50px;
}
.kasper_link{
    font-size: 0;
}
.text{
   	color: white;
   	text-transform: uppercase;
   	text-align: center;
   	margin-bottom: 20px;
}

.text {
	position: relative;
	margin-bottom: 40px;
}
 .text::before {
	content: "";
	display: block;
	width: 230px;
	border-top: 1px solid #bdbdbd;
	position: absolute;
	top: 60px;
	left: 50%;
	transform: translate(-50%);

}
.social{
	text-align: center;
	margin-bottom: 70px;

}

li{
	display:inline-block;
}
a{
	display:inline-block;
}
p{
	color:white;
	text-align: center;
}
.link_kasper{
	color:#049bc4;
	text-decoration: none;

}
.social_link{
	padding: 40px 20px 85px 10px;
	text-decoration: none;
}
.social_link:last-child{
	margin: 0;
}

