*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}
body{
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	font-stretch: condensed;
}

footer{
	background: #121116;
	height: 420px;
}
.kasper{
	padding: 120px 0 5px;
	text-align: center;
    padding-bottom: 50px;
}

.text{

   	color: white;
   	text-transform: uppercase;
   	text-align: center;
   	padding-bottom: 20px;
}

.line {
	position: relative;
	padding-bottom: 20px;
}
 .line::before {
	content: "";
	display: block;
	width: 230px;
	border-top: 1px solid #bdbdbd;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%);

}
.social{
	text-align: center;
	padding-left: 25px;
	margin-bottom: 70px; 

}

li{
	display: inline-block;
	margin-right: 30px;
}
a{
	display: inline-block;
	text-decoration: none;
}
.copyright{
	color:white;
	text-align: center;
}
.link_kasper{
	color:#049bc4;
}