<footer class="footer">
	<div class="container">
		<div class="back-to-top">
			<a href="#hero"><i class="fas fa-chevron-up"></i></a>
		</div>
		<div class="footer-content">
			<div class="footer__about animate-top">
				<h4>About restaurant</h4>
				<div class="asterisk"><i class="fas fa-asterisk"></i></div>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora provident at placeat earum, tenetur vitae ratione nostrum, ea excepturi itaque rem repellendus beatae natus eius in illum quo id odio!
				</p>
			</div>
			<div class="footer__devider animate-bottom">
				<div class="social-menu">
					<h4>Follow along</h4>
					<ul class="social-icons">
						<li>
							<a href="#">
								<i class="fab fa-pinterest"></i>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fab fa-facebook-f"></i>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fab fa-linkedin"></i>
							</a>
						</li>
						<li>
							<a href="#">
								<i class="fab fa-twitter-square"></i>
							</a>
						</li>
					</ul>
				</div>
				<div class="newsletter-container">
					<h4>Newsletter</h4>
					<form  class="newsletter__form" action="">
						<input type="text" class="newsletter__input" placeholder="Email">
						<button class="newsletter-btn">
							<i class="fas fa-envelope"></i>
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</footer>