<section class="hero" id="hero">
	<div class="container">
		<h2 class="main__title">
			<span class="first-letter">W</span>elcome
		</h2>
		<h1 class="title">The Yarik</h1>
		<div class="title__description">
			<div class="separator">
				<div class="line line-left"></div>
				<div class="asterisk"><i class="fas fa-asterisk"></i></div>
				<div class="line line-right"></div>
			</div>
			<div class="single-animation">
				<h5 class="hero__subtitle">ready to be opened</h5>
				<a href="#" class="btn hero-btn">explore</a>
			</div>
		</div>
	</div>
</section>
