<section class="menu">
	<div class="container">
		<ul class="menu-info padding-right animate-left">
				<li>
					<img src="./img/menu-group-1.jpg" alt="">
				</li>
				<li>
					<img src="./img/menu-group-2.jpg" alt="">
				</li>
				<li>
					<img src="./img/menu-group-3.jpg" alt="">
				</li>
				<li>
					<img src="./img/menu-group-4.jpg" alt="">
				</li>
		</ul>
		<div class="restaurant__description padding-right animate-left">
				<div class="global-headline">
					<h2 class="main__title">
						<span class="first-letter">D</span>iscover
					</h2>
					<h1 class="title title-dark">menu</h1>
					<div class="asterisk">
						<i class="fas fa-asterisk"></i>
					</div>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur laudantium dolores, sapiente neque nobis ipsum commodi libero, eveniet, ut dolorum suscipit accusantium modi praesentium nesciunt. Fugiat eveniet voluptates sapiente excepturi.
					</p>
					<a href="#" class="btn body-btn">View the full menu</a>
				</div>
			</div>
	</div>
</section>

