<section class="restaurant">
	<div class="container">
		<div class="restaurant__info">
			<div class="restaurant__description padding-right animate-left">
				<div class="global-headline">
					<h2 class="main__title">
						<span class="first-letter">D</span>iscover
					</h2>
					<h1 class="title title-dark">our story</h1>
					<div class="asterisk">
						<i class="fas fa-asterisk"></i>
					</div>
				</div>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. A quam delectus, doloribus, illo atque dolorum quod fugiat, voluptates totam inventore ullam minima qui cupiditate molestias aliquid repellendus, consequatur magni. At.
				</p>
				<a href="#" class="btn body-btn">about us</a>
			</div>
			<div class="restaurant-img animate-right">
				<img src="/img/our-story-1.jpg" alt="photo">
			</div>
		</div>
	</div>
</section>