.works{
	padding:100px 0 180px;

	&__list{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 590px;
	}
 	&__item{
    height: fit-content;
	}

	&__link{
	display: flex;
    position: relative;
    padding:130px 170px;
	}

	&__link > img{
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
	}
}